= link_to link_through_path(notification) do
  %li
    - if notification.read
      .notification-read-list-container{id: "notification_#{notification.id}"}
        = thumb_avatar(notification.subscribed_user)
        = "#{notification.subscribed_user.user_name} has #{notification.notice_type} on your post"
        .time-ago
          = time_ago_in_words(notification.created_at) + " ago"
    - else
      .notification-unread-list-container{id: "notification_#{notification.id}"}
        = thumb_avatar(notification.subscribed_user)
        = "#{notification.subscribed_user.user_name} has #{notification.notice_type} on your post"
        .time-ago
          = time_ago_in_words(notification.created_at) + " ago"
.mark-read-glyph{id: "notification_link_#{notification.id}"}
  -if notification.read
    = link_to mark_unread_path(notification), data: { confirm: "Mark notification as unread?" }, id: "mark", method: :patch, remote: true do
      %span(class="glyphicon glyphicon-envelope")
  -else
    = link_to mark_read_path(notification), data: { confirm: "Mark notification as read?" }, id: "mark" , method: :patch, remote: true do
      %span(class="glyphicon glyphicon-envelope")
